In [1]:
import os
import nltk
import sklearn
import pandas as pd 
from string import punctuation
import re
import os
import urllib.request
import matplotlib.pyplot as plt
from scipy import spatial
from sklearn.manifold import TSNE
import numpy as np
import tensorflow as tf
from tensorflow import keras

In [2]:
def preprocess_text(text):
    text = text.lower()  # Lowercase text
    text = re.sub(f"[{re.escape(punctuation)}]", "", text)  # Remove punctuation
    text = " ".join(text.split())  # Remove extra spaces, tabs, and new lines
    return text

In [3]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 1C5F-6EFD

 Directory of C:\Users\thoma\Desktop

06/07/2022  09:06 PM    <DIR>          .
06/07/2022  09:06 PM    <DIR>          ..
06/07/2022  08:27 PM    <DIR>          .ipynb_checkpoints
06/07/2022  08:20 PM         1,460,333 finaldata9999.xlsx
06/07/2022  08:56 PM       204,963,840 glove.6B.zip
06/07/2022  08:57 PM            24,833 Naive Bayes classification - APS .ipynb
05/29/2022  06:12 PM    <DIR>          pytorchnotes
06/07/2022  08:06 PM    <DIR>          rNotes
06/07/2022  09:06 PM            11,132 textClassification.ipynb
05/30/2022  10:38 PM    <DIR>          timeseriesnotes
               4 File(s)    206,460,138 bytes
               6 Dir(s)  47,180,931,072 bytes free

In [4]:
df= pd.read_excel('finaldata9999.xlsx',usecols = ['label','text'])

In [5]:
df.head()

       label                                               text
0  user_info  ['KARRI.KUMAR,Lead User Experience Designer Po...
1   projects  ["PROJECTS Home / Small and Large Enterprise P...
2   projects  ['Smart Dock (Computer and Hardware) Role: Lea...
3   projects  ['EXPERIENCE\n', '\n', 'Baker Hughes, Staff UX...
4   projects  ['Project: Insightl Role: Lead UX Designer Wit...

In [6]:
df['text'] = [preprocess_text(m) for m in df['text']]

In [7]:
df.head()

       label                                               text
0  user_info  karrikumarlead user experience designer portfo...
1   projects  projects home small and large enterprise print...
2   projects  smart dock computer and hardware role lead ux ...
3   projects  experiencen n baker hughes staff ux designer m...
4   projects  project insightl role lead ux designer with re...

In [8]:
# storing the label keys and their indexes
labels = np.unique(np.array(df.label))
label_index = [i for i in range(len(labels))]
label_key_pair = dict(zip(labels,label_index))
label_key_pair

{'certifications': 0,
 'declaration': 1,
 'education': 2,
 'personal_details': 3,
 'projects': 4,
 'skills': 5,
 'summary': 6,
 'user_info': 7}

In [9]:
# converting the labels to their index value in the df
df.label = [label_key_pair[i] for i in df.label]

In [10]:
train_samples = list(df.text)
train_labels = list(df.label)

In [11]:
from tensorflow.keras.layers import TextVectorization
vectorizer = TextVectorization(max_tokens=20000, output_sequence_length=200)
text_ds = tf.data.Dataset.from_tensor_slices(train_samples).batch(128)
vectorizer.adapt(text_ds)

In [15]:
voc = vectorizer.get_vocabulary()
word_index = dict(zip(voc, range(len(voc))))

In [19]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py): started
  Building wheel for wget (setup.py): finished with status 'done'
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9675 sha256=4edbd007e3e652c309ef3ee53db7b243266f8d9a22b7aabf877b9c33596ca4f1
  Stored in directory: c:\users\thoma\appdata\local\pip\cache\wheels\a1\b6\7c\0e63e34eb06634181c63adacca38b79ff8f35c37e3c13e3c02
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [21]:
wget http://nlp.stanford.edu/data/glove.6B.zip
!unzip -q glove.6B.zip

SyntaxError: invalid syntax (4146972783.py, line 1)